*

!.gitignore

!/assignment01
!/assignment01/**/*.c
!/assignment01/*.pdf

!Assignment 2
!Assignment 2/Makefile
!Assignment 2/*.pdf
!Assignment 2/**/*.c

!/mpi_vect_mult
!/mpi_vect_mult/**/*.c
!/mpi_vect_mult/*.pdf

!/assignment03
!/assignment03/**/*.c
!/assignment03/*.pdf

!Assignment 4
!Assignment 4/Makefile
!Assignment 4/*.pdf
!Assignment 4/**/*.c

!/assignment05
!/assignment05/**/*.c
!/assignment05/*.pdf
!/assignment05/Makefile

!/assignment06
!/assignment06/**/*.c
!/assignment06/*.pdf
!/assignment06/Makefile


